{% extends 'email/base.html' %}
{% load static %}
{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
        <tbody>
        <tr>
            <td align="center" valign="bottom" colspan="2" cellpadding="3">
                <img alt="Icon" width="80"
                     src="{% static 'email/img/password@2x.png' %}">
            </td>
        </tr>

        <tr>
            <td height="20" &nbsp;=""></td>
        </tr>


        <tr>
            <td align="center">
        <span style="color:#031B4D; font-size:22px;line-height: 24px; font-weight: 600;">
          Reset Your Password
        </span>
            </td>
        </tr>
        <tr>
            <td height="10" &nbsp;=""></td>
        </tr>
        <tr>
            <td align="center">
        <span style="color:#6B7282;font-size:18px;line-height:24px;">
          We've received a request to reset your password
        </span>
            </td>
        </tr>

        <tr>
            <td height="15" &nbsp;=""></td>
        </tr>
        <tr>
            <td height="1" bgcolor="#DAE1E9"></td>
        </tr>
        <tr>
            <td height="10" &nbsp;=""></td>
        </tr>
        <tr>
            <td align="left">
                <p style="color:#4D4F5C;font-size:14px;line-height:24px; font-weight: 400;">
                    If this was requested by you, please click the link below to change your password.
                </p>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="{{ cta_url }}"
                   style="display:block; padding:15px 25px; background-color:#FF0057; color:#ffffff; border-radius:5px; text-decoration:none; margin-top:20px; font-weight: 500;">Reset
                    Password</a>
            </td>
        </tr>

        <tr>
            <td height="10" &nbsp;=""></td>
        </tr>

        <tr>
            <td align="center">
                <p style="color:#4D4F5C;font-size:12px;line-height:24px;">
                    {{ cta_url }}
                </p>
                <p style="color:#4D4F5C;font-size:12px;line-height:12px;">
                    Or copy and paste the link above into your browser.
                </p>
            </td>
        </tr>


        <tr>
            <td align="center">
                <br>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}