<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" name="Content-Type" >
    <meta property="og:type" content="website">
    <meta property="og:title" content="Available Scrims">
    <meta property="og:description" content="WLU R6 Scrims Available">
    <meta name=”twitter:card” content=”summary_large_image”>
    <meta name=”twitter:site” content=””>
    <meta name=”twitter:creator” content=”@lfs__gg”>
    <meta name=”twitter:title” content="WLU R6 Available Scrims">
    <meta name=”twitter:description” content="Scrim Available">
    <meta name="twitter:card" content="summary_large_image">
    <meta name=”twitter:image” content="{{ url }}"></meta>
    <meta name="og:image" content="{{ url }}"></meta>
    <title>Scrim Availability</title>
</head>
<body>
    <img src="{{ url }}"/>
    Friendly Scontent
</body>
</html>