<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" name="Content-Type" >
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ team_name }} Available Scrims">
    <meta property="og:description" content="Click to Contact Team">
    <meta name=”twitter:site” content=”r6pl.com”>
    <meta name=”twitter:creator” content=”@lfs__gg”>
    <meta name=”twitter:title” content="{{ team_name }} Available Scrims">
    <meta name=”twitter:description” content="Click to Contact Team">
    <meta name="twitter:card" content="summary_large_image">
    <meta name=”twitter:image” content="{{ thumbnail }}"></meta>
    <meta name="og:image" content="{{ thumbnail }}"></meta>
    <title>Scrim Availability</title>
</head>
<body>
</body>
</html>